@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background: black;
  color: white;
}

.App {
  text-align: center;
}

button {
  font-family: 'Open Sans';
  font-size: 24px;
  border-radius: 12px;
  width: 30%;
  height: 48px;
  margin: 10px;
  background: black;
  color: white;
  transition-duration: 1s;
}

button:hover {
  background: white;
  color: black;
  transition-duration: 1s;
}

a {
  text-decoration: none;
  color: black;
  transition-duration: 0.5s;
}
a:hover, .navbar a:hover {
  color: rgb(56, 143, 243);
  transition-duration: 0.5s;
}

/* NAVIGATION */
.navbar {
  z-index: 2;
  background: rgb(15,12,1);
  width: 100%;
  transform: translateY(0px);
  transition: 0.25s;
  box-shadow: -4px 1px 5px #000;
}
.navbar nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.scrolled {
  background-color: rgba(0, 0, 0);
  position: sticky;
  top: 0;
  transition: 0.25s;
}
.navbar a, .about a, .projects a {
  text-decoration: none;
  color: white;
  margin: auto;
  
}
.navbar a:hover, .about a:hover, .project-item-name a:hover, .projects a:hover, .footer a:hover {
  color: rgb(56, 143, 243);
  transition-duration: 0.5s;
}

/* COVER PAGE */
.splash-page {
  background-image: url('./images/ArchesPano.jpg');
  background-position: center;
  background-size: cover;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.splash-page div {
  max-width: 1000px;
}
.splash-page div h1 {
  font-size: 2.5rem;
}
.splash-page div h2 {
  font-weight: lighter;
}

/* ABOUT */

.about {
  background: black;
}
.about h1 {
  color: white;
  font-size: 2.5rem;
}
.about-container {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4% 1%;
}
.about-container img {
  width: 40%;
  max-width: 350px;
  border-radius: 8px;
}
.about-description {
  width: 60%;
  margin: 5%;
}
.about-description h2 {
  width: 100%;
}
.about p {
  width: 100%;
  font-size: 1.15rem;
  line-height: 25px;
  overflow: hidden;
}

/* SKILLS */
.skills {
  background: white;
  color: black;
  padding: 10px;
}
.skills h1{
  font-size: 2.5rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
}

.iframe-container iframe {
  width: 65%;
  height: 660px;
  overflow: hidden;
}

.relExp p, .prevExp p {
  text-align: left;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}
.skill h3 {
  font-weight: lighter;
  margin: auto;
}

/* PROJECTS */
.projects {
  width: 100vw;
}
.projects h1{
  color: white;
  font-size: 2.5rem;
}
.project-container{
  display: flex;
  flex-wrap: wrap;
  margin: 4% 0;
}
.project-list{
  box-sizing: border-box;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.35);
  display: block;
  align-items: center;
  width: 40%;
  min-width: 400px;
  margin: 10px 5%;
  padding: 2% 1%;
}
.project-description {
  text-align: left;
  padding: 3%;
}
.project-item-name {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 3%;
  text-align: center;
}
.project-item-name a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}
.project-item img {
  width: 80%;
  padding: 5px;
  border-radius: 12px;
}

/* PHOTOGRAPHY */
.photos {
  background: white;
  color: black;
  padding: 10px;
}
.photos h1{
  font-size: 2.5rem;
}
.photos h3 {
  font-weight: lighter;
}
.photo-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgba(255,255,255,.85);
  margin: 2% auto;
}

.photo {
  width: 30%;
}
.photo h3 {
  font-weight: lighter;
}
.photo img {
  width: 100%;
  height: 67%;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background: white;
  color: black;
  font-size: 1.3em;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  /* MISC */
  button {
    font-size: 1em;
    width: 50%;
  }

  /* SPLASH PAGE */
  .splash-page {
    background-position: center;
    background-size: stretch;
    height: 25vh;
  }
  .splash-page div h1 {
    font-size: 1.5em;
  }
  .splash-page div h2 {
    font-size: 60%;
  }

  /* NAVIGATION */
  .navbar {
    display: none;
  }

  /* ABOUT */
  .about h1 {
    font-size: 1.5em;
  }
  .about-container {
    display: block;
  }
  .about-description {
    width: auto;
  }
  .about-description p {
    font-size: smaller;
    line-height: 1.25em;
  }

  /* SKILLS */
  .skill-list h3 {
    font-size: smaller;
  }

  /* PROJECTS */
  .project-list {
    width: 350px;
    min-width: 300px;
  }

  /* PHOTOGRAPHY */
  .photo {
    width: auto;
    height: auto;
    margin: 10px auto;
  }
  .photo img {
    height: auto;
  }
  .photo h3 {
    display: none;
  }

  /* FOOTER */
  .footer {
    font-size: smaller;
  }
}